{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table id="Nick"width="100%" border="1">
        <th>Nick</th>
        <tr>
            <th>Team Name</th>
            <th>Wins</th>
            <th>Losses</th>
        </tr>
    </table>
    <table id="Mike"width="100%" border="1">
        <th>Mike</th>
        <tr>
            <th>Team Name</th>
            <th>Wins</th>
            <th>Losses</th>
        </tr>
    </table>
    <table id="Kippy"width="100%" border="1">
        <th>Kippy</th>
        <tr>
            <th>Team Name</th>
            <th>Wins</th>
            <th>Losses</th>
        </tr>
    </table>
    <table id="Bill"width="100%" border="1">
        <th>Bill</th>
        <tr>
            <th>Team Name</th>
            <th>Wins</th>
            <th>Losses</th>
        </tr>
    </table>
    <table id="Brandon"width="100%" border="1">
        <th>Brandon</th>
        <tr>
            <th>Team Name</th>
            <th>Wins</th>
            <th>Losses</th>
        </tr>
    </table>
    <button type="button" onclick="apicall()">Click me for updated Stats</button>
{% endblock %}
